body {
    color: rgb(0, 0, 0);
}

.imagem_centralizada{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.div_img_list {
    padding: .25rem;
    border-radius: .25rem;
    max-width: 100%;
    height: 200px;
    overflow: hidden;
}

.img_product_home{
    max-width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: center;
}

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: rgb(148, 171, 247);
}
  
  footer p {
    margin-bottom: .25rem;
}