{% extends "base/base.html" %}
{% load static %}

<title>Home Page template</title>

{% block base_head %}
    <link rel='stylesheet' href='{% static "css/main.css" %}'>
{% endblock base_head%}

{% block content %}
    <!-- Aqui vai tudo que é referente a home_page  -->
    <div class='text-center'>
        <h1>{{ title }}</h1>
        <p>{{ content }}</p>
    </div>
    
    <div class='row'>
        <div class='col text-center'>
            <img src="{% static 'img/ecommerce.jpg' %}" class='img-fluid' />
            <p>{{ content }}</p> 
        </div>
    </div>
{% endblock %}